* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-toggler:focus {
  box-shadow: none;
  color: black;
}

a {
  text-decoration: none !important;
  color: inherit;
}

@media screen and (max-width: 768px) {
  header .nav-link {
    font-size: 85% !important;
  }

  header .dropdown-item {
    font-size: 85%;
  }

  main {
    font-size: 85% !important;
  }
}
